<ul class="nav nav-pills mb-3">
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'settings' %}active{% endif %}" href="/settings">
            <i class="fas fa-cog"></i> Settings
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'status' %}active{% endif %}" href="/Stats">
            <i class="fas fa-chart-bar"></i> Stats
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'operations' %}active{% endif %}" href="/Operations">
            <i class="fas fa-tachometer-alt"></i> Operations
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'optimization' %}active{% endif %}" href="/Optimization">
            <i class="fas fa-bolt"></i> Optimization
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'audio_normalization.render_page' %}active{% endif %}" href="/AudioNormalization">
            <i class="fas fa-volume-up"></i> Audio Normalization
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'Scanners.render_page' %}active{% endif %}" href="/Admin/Scanners">
            <i class="fas fa-radar"></i> Scanners
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'AdminWorkers.render_admin_workers' %}active{% endif %}" href="/Admin/Workers">
            <i class="fas fa-server"></i> Workers
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'AdminCompliance.render_admin_compliance' %}active{% endif %}" href="/Admin/Compliance">
            <i class="fas fa-shield-alt"></i> Compliance
        </a>
    </li>
</ul>
