MEDIAVORTEX_DB_HOST=10.0.0.15
MEDIAVORTEX_DB_PORT=5432
MEDIAVORTEX_DB_NAME=mediavortex
MEDIAVORTEX_DB_USER=mediavortex
MEDIAVORTEX_DB_PASSWORD=mediavortex
MEDIAVORTEX_SHARE_MAPPINGS=T=/mnt/media_tv/,M=/mnt/movies/,Z=/mnt/xxx/
